# You can use a CODEOWNERS file to define individuals or teams that are responsible for code in a repository.
# Learn more at: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# 
#
* @RhinoSecurityLabs/dev-pacu
