# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10']

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies and Configure
      run: |
        python -m pip install --upgrade pip
        pip install poetry
        poetry install
    - name: Test Docker build
      run: |
        docker build . --file Dockerfile --tag rhinosecuritylabs/pacu:latest
    - name: Lint with flake8 and mypy
      run: |
        poetry run make lint
    - name: Test with pytest
      run: |
        poetry run make test
